body {
    
    font-family: 'Maven Pro', sans-serif;
     
}

nav {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: .9;
}

.row {
    margin: 0 !important;
}

#jumbo-row {
    background: url('http://media.cmgdigital.com/shared/img/photos/2015/11/18/8b/9d/concert-crowd-crop.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Maven Pro', sans-serif;
}

.jumbotron {
    margin-top: 12% !important; 
    opacity: .95;
    box-shadow: 0px 0px 5px 2px black;
    width: 50%; 
    text-align: center;
}

#go:hover {
    box-shadow: 0px 0px 5px 2px white;
    cursor: pointer;
}