/* Global */
body {
  font-family: 'Maven Pro', sans-serif;
  overflow-x: hidden;
}
/* Navbar */
#navbar {
position: fixed;
z-index: 1000;
width: 100%;
left: 0;
top: 0;
opacity: .75;
}
#brand {
background: red;
padding: 3px;
border-radius: 3px;
}
#navBtn {
background: black;
}
/* Carousel Wrapper*/
#landingWrapper {
position: relative;
}
#goCard {
  position: absolute;
  top: 0;
  z-index: 999;
  margin-top: 26% !important;
  opacity: .85;
  box-shadow: 0px 0px 5px 2px white;
  border: none;
}
#goBtn {
margin-top: 20px;
padding: 10px 50px 10px 50px;
color: white;
font-weight: bold;
font-size: 20px;
}
#go:hover {
box-shadow: 0px 0px 5px 2px white;
cursor: pointer;
}
#carouselInner {
max-height : 100vh;
max-width : 100%;
box-shadow: 0px 0px 5px 3px black;
position: relative;
top: 0;
}
/* Main Map/Hotel Wrapper */
#hotelWrapper {
  position: relative;
  max-height: 100%;
  background: url("../img/funky-lines.png");
}
#cityBanner {
  /* position: relative; */
  margin-top: 40px;
  margin-bottom: 20px;
}
/* Banners */
#bannerRow {
position: relative;
}
.banner {
font-size: 40px;
font-weight: bold;
}
.banner-glow-light {
box-shadow: 0px 0px 5px 2px white;
border: none;
padding: 0;
}
.banner-glow-dark {
box-shadow: 0px 0px 5px 2px black;
border: none;
padding: 0;
}
#hotelBanner {
margin-top: 40px;
margin-bottom: 40px;
}
/* Map Styling */
#mapRow {
position: static !important;
top: 1000px;
}
#mapCard {
overflow: hidden;
justify-content: center;
height: 450px;
}
#map {
position: static !important;
}
/* Random Google Styling */
#listing {
/* position: absolute; */
width: 200px;
height: 470px;
overflow: auto;
left: 442px;
top: 0px;
cursor: pointer;
overflow-x: hidden;
}
#findhotels {
/* position: absolute; */
text-align: right;
width: 100px;
font-size: 14px;
padding: 4px;
z-index: 5;
background-color: #fff;
}
#locationField {
position: absolute;
width: 190px;
height: 25px;
left: 108px;
top: 0px;
z-index: 5;
background-color: #fff;
}
#controls {
position: relative;
left: 35px;
width: 140px;
top: 0px;
z-index: 5;
background-color: #fff;
}
#autocomplete {
width: 100%;
}
#country {
width: 100%;
}
.placeIcon {
width: 20px;
height: 34px;
margin: 4px;
}
.hotelIcon {
width: 24px;
height: 24px;
}
#resultsTable {
border-collapse: collapse;
width: 240px;
}
#rating {
font-size: 13px;
font-family: Arial Unicode MS;
}
.iw_table_row {
height: 18px;
}
.iw_attribute_name {
font-weight: bold;
text-align: right;
}
.iw_table_icon {
text-align: right;
}
/* Event Wrapper */
#eventsWrapper {
position: relative;
background: url("../img/ep_naturalblack.png");
}
#eventBanner {
margin-top: 40px;
margin-bottom: 40px;
}
.cards {
  margin: 10px;
  box-shadow: 0px 0px 4px 2px white;
  border-radius: 5px;
  border: none;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
}

.btn-cards {
  margin: 10px;
  box-shadow: 0px 0px 4px 2px white;
  border-radius: 5px;
  border: none;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: white;
}
.cardRow {
justify-content: center;
}
#cardSection {
box-sizing: border-box;
overflow: hidden;
}
/* Event Styling */
#eventSection {
background: url("../img/funky-lines.png");
height: 100vh;
overflow-y: 0;
}
/* Footer */
.footer {
background: url("../img/ep_naturalblack.png");
height: 100px;
position: relative;
}
#footerSpan {
font-weight: bold;
font-size: 25px;
color: white;
}

